/*

!/fish/
!/ghostty/
!/fastfetch/
!/fontconfig/
!/gtk-3.0/
!/scripts/
!/gnome-extensions/

!/systemd/
!/autostart/
!monitors.xml
!user-dirs.dirs
!xdg-terminals.list
!gamemode.ini
!starship.toml
!mimeapps.list

!/debug/

!gnome-settings.dconf
!pkglist.txt
!pkglist-aur.txt

!README.md
!.gitignore
!.prettierrc.mjs

fish/fish_history
